.side-chat {
    li {

        // background-color: lightgreen;
        border: 1px solid rgba(211, 211, 211, 0.404);
        border-radius: 5px;
        margin: 10px 20px;
        height: 110px;
    }
    a {
        text-decoration: none;
        color: inherit;
        width: 100%;
        padding: 20px;
    }

    .icon-img {
        font-size: 60px;
        padding: 0;
        width: 60px;
    }
    h2 {
        font-size: 16px;  
    }

    .name-icon {
        font-size: 16px;
        padding: 0;
        width: 60px;
        gap: 20px;
    }
}

.date-time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    p {
        padding: 0;
        margin: 0;
    }
}