@import 'conversation' ;
@import 'sidebar';
@import 'navbar';

*::before, *::after {
    box-sizing: border-box;
}

body {
    color: black

}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
padding-top: 140px;
}